/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  margin-top: 2rem;
  background-color: #ced7eb;
}

.headerDisplay {
  display: flex;
}
h1 {
    text-align: center;
}

h3 {
  padding-left: 10px;
}

label {
    font-size: 2rem;
    text-align: center;
  }
  
  /* Default Grid Layout */
  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    align-items: stretch;
    max-width:100%;
  }
  
  .formGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    justify-items: center;
}
/* Utility Classes */
.login {
  display: inline-block;
  margin: 50px;
}

.btn {
  background: #ffffff;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5) ;
}

.btn:hover {
  background: #576b96;
}

.container {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  padding: 20px;
}

.itemLabel {
    padding: 10px;
}

.hide {
    display: none;
}

.item {
    background-color: #3b5998;
    color: aliceblue;
    padding: 1rem;
    border: whitesmoke;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}   
form {
    text-align: center;
    font-size: 2rem;
    background-color: #3b5998;
    max-width: 100%;
padding: 2rem;
border-radius: 10px;
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5) ;
}

form input {
    margin-top: 50px;
    font-size: 2rem;
}

form label {
  color: #ffffff;
  font-weight: 800;
  background-color: rgb(0, 24, 77);
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5) ;
}

#status {
    text-align: center;
}